html,
body {
	margin: 0;
	height: 100%;
	touch-action: none;
	overscroll-behavior: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
}

img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.6;
	z-index: -1;
}

#game-wrapper {
	width: 400px;
	height: 600px;
	overflow: hidden;
}

#gameCanvas {
	background-color: #2c2c2c;
	width: 400px;
	height: 600px;
}
