html,
body {
	margin: 0;
	height: 100%;
	touch-action: none;
	overscroll-behavior: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #111;
}

#game-wrapper {
	width: 400px;
	height: 600px;
	overflow: hidden;
}

#gameCanvas {
	background-color: #2c2c2c;
	width: 400px;
	height: 600px;
}
