html,
body {
	margin: 0;
	height: 100%;
	touch-action: none;
	overscroll-behavior: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('assets/images/star-background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 1;
	position: relative;
}

#game-wrapper {
	width: 400px;
	height: 600px;
	overflow: hidden;
	z-index: 1;
	position: relative;
	border: 8px solid #8400ff2a;
	border-radius: 8px;
}

#gameCanvas {
	width: 400px;
	height: 600px;
}
